@font-face {
    font-family: 'Source';
    font-style: normal;
    font-weight: 400;
    src: url(~/fonts/SourceSand.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

body {
    font-family: Source, sans-serif;
    font-size: 25px;
}
input[type=submit]
{
    margin: 15px auto;
    padding:5px;
    font-size:20px;
    text-align:center;
    display:block;
}
.header{
    background-color:#a70d0d;
    color:white;
}
.header-logo{
    margin:0 auto;
    text-align:center;
    display:inline-block;
}
.footer{
    background-color:#570808;
    color:white;
}
.header,.footer{
    min-height:200px;
    padding:10px 0px;
}
.product{
    max-height:300px;
}
.product img{
    width:200px;
    height:200px;
}
.footer-head,.footer-link{
    display:block;
    color:white;
}
.footer-head{
    font-weight:bold;
    font-size:30px;
    text-indent:4px;
}
.footer-link{
    font-size:25px;
    text-indent:2px;
}
.product-image, .header-logo-img {
    max-width: 100%;
    min-width: 200px;
    max-height: 100%;
    min-height: 200px;
}
.header-logo-img{
    margin:15px auto;
    width:350px;
    height:350px;
    display:block;
}
input,textarea{
    background-color:#e8e8e8;
}
.stars{
    width:calc(60% - 19px);
    display:inline-block;
    padding:4px;
    margin:2px;
    min-height:80px;
}
.star-button{
    display:inline-block;
    width:75px;
    height:75px;
    border:none;
    background:none;
    cursor:pointer;
}
.star-button:focus{
    border:none;
}
.pr-row{
    min-height:50px;
}
.pr-row .pr-lab{
    font-size:24px;
    font-weight:bold;
    display:inline-block;
    max-width:50%;
    min-height:5px;
    max-height:100%;
}
.pr-rate{
    display:block;
    margin-top:4px;
}
.pr-link{
    font-size:26px;
    font-weight:bold;
    color:#081157;
}
.pr-but{
    display:block;
    height:50px;
}
.pr-price{
    font-size:25px;
    color:#50a6d1;
}
.pr-row .pr-star{
    display:inline-block;
    width:75px;
    height:75px;
}
.product-list{
    margin:15px 0;
}
.product-list:after{
    display:block;
    content:'';
    clear:both;
}
.pro-lab{
    font-size:25px;
    font-weight:bold;
    margin-right:15px;
}
.pro-price{
    color:#081157;
    font-size:24px;
    text-indent:5px;
}
.pro-row{
    min-height:40px;
    margin-bottom:10px;
}
.pro-star {
    display: inline-block;
    width: 50px;
    height: 50px;
}
.pro-desc {
    margin: 10px 5px;
    font-size: 15px;
}