@model MySQLApp.Models.Product

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="block-12">@Model.Name</h2>
<div class="product-main block-12">
    <div class="block-6">
        <img src="@Url.Action("GetImage","Product", new { id = Model.Image.Id })" class="product-image" alt="err" />
    </div>
    <div class="block-6">
        <div class="pro-row">
            <span class="pro-lab">Ocena</span>
            @for (int i = 0; i < 5; i++)
            {
                if (i < Model.Rating)
                {
                    <img class="pro-star" src="~/img/star_full.png" alt="err" />
                }
                else
                {
                    <img class="pro-star" src="~/img/star_empty.png" alt="err" />
                }
            }
        </div>
        <div class="pro-row">
            <span class="pro-lab">Cena</span>
            <span class="pro-price">@Model.Price</span>
        </div>
        <div class="pro-row">
            <span class="pro-lab">Opis</span>
            <p class="pro-desc">
                @Model.Desc
            </p>
        </div>
    </div>
</div>
